# Ignorar entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store
Thumbs.db

# Reportes y logs
*.log
reports/
venv/
data/practice_form.db
reports/screenshots/
